div.video {
    border: 3px solid;
    border-color: #FF00AA;
    padding: 5px;
}

div.vcontrol {
    float: right;
}

div.comment {
    border: 3px solid;
    border-color: #FF00AA;
    padding: 5px;
}

div.comment {
    border: 3px solid;
    border-color: #FF00AA;
    padding: 5px;
}
