div.video {
    border: 3px solid;
    border-color: #FF00AA;
    padding: 5px;
}

div.vcontrol {
    float: right;
}

.threaddiv {
     border: 3px solid;
    border-color: #FF00AA;
    padding: 5px;
}

div.comment {
    display: flex;
    justify-content: space-between;
    border: 3px solid;
    border-color: #FF00AA;
    padding: 5px;
}

div.commentmeta {
    float: left;
    width: 20%;
    background-color: #FFFAFA;
}

div.commenttext {
    float: right;
    width: 80%;
    text-align: justify;
}
